*{
    padding: 2px;
}
.main{
    display: flex;
    flex-direction: column;
}
.main .home{
    background-image: url("../img/h_img.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 630px;
}
.main .home #homecontent{
    text-align: center;
    padding-top: 300px;
    color: white;
}
.main .home #homecontent h1{
     font-family: sans-serif;
     font-weight: bold;
     font-size: 40px;
}
.main .home #homecontent p{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10px;
}
/* Start of about us */
.main .aboutus h1{
    text-align: center;
}
/* start of services */
.main .services{
    background-image: url("../img/2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 530px;
}